body{
background-color: #98AFC7;
}
.h1{
    text-align: center;
}
.height{
    float: left;
    width: 30%;
    margin-left: 300px;
}
.weight{
    float: right;
    width: 30%;
    margin-right: 300px;
    
}
.btn{
    margin-bottom: 500px;
}